

.rd-align-right {
    display: flex;
    align-self: end;
}

.rd-align {
    display: flex;
    width: 100%;
}

.rd-align-justify {
    justify-content: space-between;
}

.rd-align-center {
    justify-content: center; 
}

.rd-section {
    margin-top: 8rem;
    margin-bottom: 8rem;
}

.rd-section-centered {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.goback-button {
    position: absolute;
    z-index: 2000;
    width: 100px;
    height: 100px;
    color: black;
}