@import '../../theme/color.less';

@media (max-width: 800px) {
    .rd-navbar-menuitem {
        display: none;
    }
}

.rd-navbar-root {
    // background-color: @theme-color-white-100;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .rd-navbar-control-root div {
        display: flex;
        align-items: center;
    }

    .rd-navbar-menuitem {
        padding-right: 0.75em;
        font-weight: 700;
        cursor: pointer;
        color: @theme-color-grey-100;
        opacity: 0.6;
        font-size: @heading-5-size;
    }
}

.rd-navbar .RD-shadow {
    box-shadow: 0px 4px 25px 18px rgba(255, 255, 255, 0.15);
};

.ant-layout-header.rd-header-transparent {
    background-color: transparent;
    box-shadow: none;

    .rd-navbar-menuitem {
        color: @theme-color-white-100;
        opacity: 1;
    }
}

