.rd-nested-comments-container {
  margin-left: 40px;
}

.rd-post-section-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  padding-top: 15%;
}

.rd-post-section-wrapper {
  width: 90%;
  max-height: 900px;
  padding: 10px;
  background-color: rgba(256, 256, 256, 0.5);
  border-radius: 20px;
  display: inline-flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}
#rd-post-section-home-wrapper {
  width: 90%;
  padding: 10px;
  background-color: rgba(256, 256, 256, 0.5);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: 10px;
}

.rd-post-list-wrapper {
  position: relative;
  width: 95%;
  height: 95%;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  padding-right: 10px;
  padding-top: 10px;
  padding-left: 3px;
}
.rd-post-list-home-wrapper {
  position: relative;
  width: 95%;
  display: flex;
  flex-direction: column;
}
#rd-post-list-home-wrapper {
  position: relative;
  width: 95%;
  display: flex;
  flex-direction: column;
}

.rd-post-color-inner-wrapper {
  background-color: white;
  padding-top: 20px;
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 20px;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2);
  display: flex;
  position: relative;
  margin-left: 10px;
  flex-direction: column;
  transition: background-color .3s;
}

.rd-post-color-inner-wrapper:hover {
  background-color: #c8c8c8;
}

.rd-post-color-container {
  position: relative;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}
.rd-post-color-container-main {
  position: relative;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}


.rd-post-color-container-level-one {
  position: relative;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}
.rd-post-list-wrapper-header {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  padding-left: 30px;
  padding-right: 30px;
}

.rd-post-header-container {
  display: flex;
  flex-direction: row;
}

.rd-post-profile-pic-wrapper {
  width: 50px;
  height: 50px;
}

.rd-post-header-item-wrapper {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  padding-bottom: 0;
  margin-top: 3px;
  margin-right: auto;
}

.rd-post-body-container {
  margin-top: 10px;
}

.rd-post-likes-container {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
}

.rd-post-reply-to-wrapper {
  padding-top: 10px;
}

.rd-post-comment-container {
  width: 100%;
  padding-left: 15px;
}

.rd-post-comment-wrapper {
  display: flex;
  flex-direction: row;
}

.rd-post-comment-send-button {
  margin-left: 2%;
}

.rd-post-text-input {
  width: 90%;
}

::-webkit-scrollbar {
  width: 2px;
  height: 90%;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 20px;
}
::-webkit-scrollbar-thumb {
  background: #c8c8c8;
}

.rd-post-background-container {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' %3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(114,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%2380F'/%3E%3Cstop offset='1' stop-color='%23f40'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cpattern id='b' width='4' height='4' patternUnits='userSpaceOnUse'%3E%3Ccircle fill='%23ffffff' cx='2' cy='2' r='2'/%3E%3C/pattern%3E%3Crect width='100%25' height='100%25' fill='url(%23a)'/%3E%3Crect width='100%25' height='100%25' fill='url(%23b)' fill-opacity='0.41'/%3E%3C/svg%3E");
  background-attachment: fixed;
  border: 3px solid black;
  overflow: auto;
}



.rd-left-side-post-container {
  display: flex;
  flex-direction: column;
  border: 2px solid yellow;
  padding-left: 30px;
  height: 400px;

}
.rd-right-side-post-container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  border: 2px solid yellow;

}

.rd-left-side-list-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.rd-middle-column-post {
  display: flex;
  justify-content: center;
}

.rd-post-home-comment {
  display: flex;
  width: 95%;
  align-self: center;
  margin-top: 1%;
}

#rd-what-the-fuck {
  display:flex;
  overflow: auto;
  margin-top: 1%;
}





