.rd-nested-comments-container {
    margin-left: 40px;
}

.rd-post-section-container {
    width: 100vw;
    min-height: 10000px;
    border: 10px solid black;
    margin-top: 100px;
    background-color: rgb(172, 193, 244);
}

// 