@btn-font-weight: 700;

@button-padding-vertical: 21px;
@button-padding-horizontal: 45px;

@button-padding-vertical-sm: @button-padding-vertical * @sm-multiplier * 0.8;
@button-padding-horizontal-sm: @button-padding-horizontal * @sm-multiplier;

.ant-btn.ant-btn-round.ant-btn-lg {
    border: none;
    font-family: @font-family;
    line-height: 1;
    font-size: @button-sm-size !important;
    padding: @button-padding-vertical @button-padding-horizontal !important;
    height: calc(@button-sm-size + @button-padding-vertical * 2);
}

.ant-btn.ant-btn-round.ant-btn-primary.ant-btn-lg {
    background-color: @theme-color-black-200;
}

.ant-btn.ant-btn-round.ant-btn-lg.rd-wallet-connected {
    background-color: @theme-color-purple-200;
}

.ant-btn.ant-btn-round.ant-btn-default.ant-btn-lg {
    background-color: @theme-color-white-100;
    color: @theme-color-purple-100;
}

.ant-btn.ant-btn-round.ant-btn-primary.ant-btn-lg:hover {
    background-color: @theme-color-purple-100;
}

.ant-btn.ant-btn-round.ant-btn-primary.ant-btn-lg:active {
    background-color: @theme-color-purple-200;
}

[ant-click-animating-without-extra-node='true']::after{
    display: none;
}

.ant-btn-primary[disabled] {
    color: @theme-color-white-100-trans;
}


.ant-btn.ant-btn-round.ant-btn-primary.ant-btn-lg.rd-btn-light {
    background-color: @theme-color-white-100;
    color: @theme-color-purple-100;
    text-shadow: none;
    box-shadow: none;
}

.ant-btn.ant-btn-link {
    color: @theme-color-black-200;
    font-size: @btn-link-font-size;
    display: flex;
    align-items: center;
    font-family: @font-family-regular;

    .anticon {
        font-size: @btn-link-icon-font-size;
    }
}

@media screen and (max-width: @screen-sm) {
    .ant-btn.ant-btn-round.ant-btn-primary.ant-btn-lg {
        font-size: @button-sm-size * @sm-multiplier !important;
        padding: @button-padding-vertical-sm @button-padding-horizontal-sm !important;
        height: calc(@button-sm-size + @button-padding-vertical-sm * 2);
        line-height: 1;
        font-family: @font-family;
    
    }
}

.rd-btn-custom-icon {
    display: flex;

    img {
        height: 100%;
        width: auto;
        margin-right: 5px;
    }
}

.rd-icon.rd-icon-purple {
    color: @theme-color-purple-100;
}

.ant-spin-container::after {
    content: unset;
}