#RD-createProfileRoot {
    /* height: calc(100vh - 80px); */
}

#RD-createProfileBody {
    height: 100%;
}

#RD-createProfileFooterBody {
    background: linear-gradient(90deg, #000000 0%, #1e1e1e 35.42%, #1e1e1e 73.96%, #000000 100%);
}

.RD-CreateProfileComponents {
    position: fixed;
}
