// black
@theme-color-black-100: #000000;
@theme-color-black-shadow: #00000020;
@theme-color-black-100-80: #00000080;
@theme-color-black-200: #141414;
@theme-color-black-500: #B9B9B9;
@theme-color-black-500-80: #B9B9B980;

// white
@theme-color-white-100: #ffffff;
@theme-color-white-100-trans: #ffffff80;

// grey
@theme-color-grey-100: #505050;
@theme-color-grey-200: #C8C8C8;

// purple
@theme-color-purple-100: #8e94ff;
@theme-color-purple-200: #5829E3;
@theme-color-purple-300: #c97ff6;

// orange
@thene-color-orange-100: #F6C3AD;

// blue
@theme-color-blue-100: #89F8FF;

// gradient


@linear-gradient-1: linear-gradient(144deg, rgba(200,66,245,1) 0%, rgba(142,148,255,1) 50%, rgba(121,239,174,1) 100%);
@linear-gradient-2: linear-gradient(135deg, rgba(200,66,245,1), rgba(121,239,174,1));

// override
@primary-color: @theme-color-purple-200;

