
// white
@theme-color-white-100: #ffffff;

// grey
@theme-color-grey-100: #505050;

// purple
@theme-color-purple-100: #8e94ff;

// gradient
@linear-gradient-1: linear-gradient(144deg, rgba(200,66,245,1) 0%, rgba(142,148,255,1) 50%, rgba(121,239,174,1) 100%);
