@rd-landing-section-margin-vertical: 50px;
@rd-landing-section-margin-horizontal: 50px;
@rd-landing-section-offset-top: 90px;

.rd-landing-section {
    position: fixed;
    z-index: 1000;
    top: @rd-landing-section-offset-top;
    height: calc(100vh - @rd-landing-section-offset-top);
    width: 100vw;
    background: url('https://d1skj8m4trskbx.cloudfront.net/misc/background.png');
    background-position: center;
    background-size: cover;
}

@media screen and (max-width: @screen-lg) {
    .rd-landing-section {
        background: url('https://d1skj8m4trskbx.cloudfront.net/misc/background_450x974.png');
        background-position: center;
        background-size: cover;    
    }
}

@rd-landing-orbit-size: 1000px;

@orbit-rotation-item-1: 180deg;
@orbit-rotation-item-2: 240deg;
@orbit-rotation-item-3: 300deg;
@orbit-rotation-item-4: 360deg;


.rd-landing-orbit-root {

    height: calc(@rd-landing-orbit-size / 2 + 100px);
    width: 100%;
    overflow: hidden;

    .rd-landing-orbit-inner {
        margin: auto;
        height: @rd-landing-orbit-size;
        width: @rd-landing-orbit-size;
        display: grid;
        justify-content: center;
        align-content: center;
        position: relative;
    }

    .rd-landing-orbit-item-md {
        display: none;
    }

    .rd-landing-orbit-item-lg {
        display: block;
    }

    .rd-landing-orbit-item {
        filter: grayscale(1);
        background-color: #fefefe;
        border-radius: 50%;
        grid-column: 1;
        grid-row: 1;
        transform: .3s;
    }

    .rd-landing-orbit-item.rd-active {
        filter: grayscale(0);
        background-color: @theme-color-white-100;
        grid-column: 1;
        grid-row: 1;
        transition: .3s;
    }

    .rd-landing-orbit-item-1 {
        transform: rotate(@orbit-rotation-item-1) translate(calc(@rd-landing-orbit-size / 2));

        img {
            transform: rotate(-@orbit-rotation-item-1);
        }
    }

    .rd-landing-orbit-item-2 {
        transform: rotate(@orbit-rotation-item-2) translate(calc(@rd-landing-orbit-size / 2));

        img {
            transform: rotate(-@orbit-rotation-item-2);
        }
    }

    .rd-landing-orbit-item-3 {
        transform: rotate(@orbit-rotation-item-3) translate(calc(@rd-landing-orbit-size / 2));

        img {
            transform: rotate(-@orbit-rotation-item-3);
        }
    }

    .rd-landing-orbit-item-4 {
        transform: rotate(@orbit-rotation-item-4) translate(calc(@rd-landing-orbit-size / 2));;

        img {
            transform: rotate(-@orbit-rotation-item-4);
        }
    }

    .rd-landing-orbit-content {
        position: absolute;
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: end;

        .rd-landing-orbit-content-inner {
            margin-bottom: -45px;

            .rd-landing-orbit-title {
                font-size: 22px;
                font-weight: 700;
            }

            .rd-landing-orbit-title-blue {
                color: @theme-color-purple-100;
                margin-top: 1.5rem;
            }

            .rd-landing-orbit-desc {
                text-align: center;
                // @todo handle mobile responsive here
                width: 100%;
                font-weight: 600;
                margin-top: 1rem;
            }

            .rd-landing-orbit-content-animation-root {
                position: relative;
                width: 100%;
                height: 150px;

                .rd-landing-orbit-content-animated {
                    position: absolute;
                    width: 100%;
                    flex-direction: column;
                    align-items: center;    
                    display: flex;
                    opacity: 0;
                    transition: .3s;          
                }
    
                .rd-landing-orbit-content-animated.rd-active {
                    opacity: 1;
                    transition: .3s;
                }
            }
        }
    }
}

@media screen and (max-width: @screen-lg) {
    .rd-landing-orbit-root {
        height: auto;

        .rd-landing-orbit-inner {
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;

            .rd-landing-orbit-content {
                position: initial;

                .rd-landing-orbit-content-inner {
                    margin-bottom: 0px;
        
                    .rd-landing-orbit-content-animation-root {    
                        width: 90vw;
                        max-width: 600px;
                        height: 250px;
        
                        .rd-landing-orbit-content-animated {
                            width: 100%;
                            flex-direction: column;
                            align-items: center;    
                            display: flex;
                            opacity: 0;
                            transition: .3s;          
                        }
            
                        .rd-landing-orbit-content-animated.rd-active {
                            opacity: 1;
                            transition: .3s;
                        }
                    }
                }    
            }

            .rd-landing-orbit-item-lg {
                display: none;
            }

            .rd-landing-orbit-item {
                transform: none;
            }

            .rd-landing-orbit-item-md {
                display: flex;
                justify-content: space-around;
                margin-bottom: 2rem;

                .rd-landing-orbit-item {
                    transform: none;
                    width: 20%;
                    max-width: 150px;

                    img {
                        transform: none;
                        // width: 70%;
                        // margin: auto;
                    }
                }
            }
        }
    }
}

@rd-circle-width: 5px;

.rd-circle-root {
    position: absolute;
    z-index: -1;
    height: calc(@rd-landing-orbit-size / 2);
    overflow: hidden;

    .rd-circle {
        border: 3px solid @theme-color-grey-100;
        opacity: 0.3;
        border-radius: 50%;
        width: @rd-landing-orbit-size;
        height: @rd-landing-orbit-size;
    }
}


.rd-landing-content-group {
    display: flex;
    flex-direction: column;
    align-items: center;

    .rd-landing-desc {
        text-align: center;
        // @todo handle mobile responsive here
        width: 100%;
        font-weight: 600;
        margin-top: 1rem;
        width: 80vw;
        max-width: 600px;
    }

    .ant-typography {
        margin: 0 !important;
    }
}

@rd-footer-height: 650px;
@rd-footer-height-sm: 100vh;

.rd-footer-root {

    position: relative;
    height: calc(100vh - @rd-landing-section-offset-top);
    z-index: 1002;
    background: @theme-color-white-100;
    background: linear-gradient(0deg, rgba(255,255,255,1) 80%, rgba(255,255,255,0) 100%);

    display: flex;
    align-items: flex-end;

    .rd-footer {
        height: @rd-footer-height;
        background-color: @theme-color-black-200;
        width: 100%;
        padding: 250px 30px;

        .rd-footer-content {
            max-width: 1000px;
            margin: auto;
        }

        .rd-footer-text {
            color: @theme-color-white-100;
        }
    }

    @media screen and (max-width: @screen-lg) {
        .rd-footer {
            height: @rd-footer-height;
            background-color: @theme-color-black-200;
            width: 100%;
            padding: 60px 30px 30px;
        }
    }
}

@media screen and (max-width: @screen-sm) {
    .rd-footer-root {

        .rd-footer {
            height: calc(@rd-footer-height-sm - @rd-landing-section-offset-top);

            .rd-footer-logo {
                width: 200px;
            }
    
            .rd-footer-social {
                img {
                    width: 80%;
                }
            }
        }    
    }
}