

.rd-signup-layout-root {
    background: url('https://d1skj8m4trskbx.cloudfront.net/signup/background_desktop.png');
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    min-width: 100vw;
    padding-top: @header-vertical-offset;
    position: relative;

    .rd-signup-illustration {
        height: 100vh;
        padding-right: 30px;
        position: absolute;
        bottom: 0px;
        left: 0px;
        display: flex;
        align-items: end;
        background-image: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%);
    }

    .rd-signup-body {
        padding-top: 10px;
    }
}