@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#RD-navbar .RD-shadow {
  box-shadow: 0px 4px 25px 18px rgba(255, 255, 255, 0.15);
}

#RD-SelectWallet .Dropdown-root {
  /* background-color: #3B04DE; */
}

#RD-SelectWallet .Dropdown-control,
#RD-SelectWallet .Dropdown-menu .Dropdown-option {
  --rd-dropdown-theme: #3B04DE;
  background-color: var(--rd-dropdown-theme);
  border: 1px solid var(--rd-dropdown-theme);
  border-radius: 300px;
  padding: 5px 0px;
  text-align: center;
  height: 55px;
}

#RD-SelectWallet .Dropdown-menu {
  background-color: transparent;
  border-color: transparent;
}

#RD-SelectWallet .Dropdown-control {
  text-align: center;
}

#RD-SelectWallet .Dropdown-control .Dropdown-placeholder {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 400;  
  line-height: 2.8rem;
}

#RD-SelectWallet .Dropdown-menu .Dropdown-option {
  margin-top: 10px;
  margin-bottom: 10px;
}

#RD-SelectWallet .Dropdown-arrow-wrapper .Dropdown-arrow {
  border-color: #fff transparent transparent;
  border-width: 7px 7px 0;
  right: 20px;
  top: 17px;
}